body {
    margin:0;
}

a {
    color:black;
    text-decoration:none;
}

h1 {
    font-weight:lighter;
    font-size:45px;
    text-align:center;
    border-bottom: 1px solid black;
    margin:0;
    padding: 20px;
}
img {
    width: 90%;
    padding:20px;
}
#grid {
    display:grid;
    grid-template-columns: 200px 1fr;
}

#grid ol {
    border-right: 1px solid black;
    width: 150px;
    margin:0;
    padding:20px;
    padding-left:33px;
}

#grid #article{
    padding-left:25px;
}

@media(max-width:700px)
{
    h1{
        font-size:30px;
    }
    #grid{
        display:block;
    }
    #grid ol{
        border-right:none;
        padding:20px;
        margin-left:20px;
    }
    #grid #article{
        padding-left:20px;
    }
}